* {
    margin: 0;
    padding: 0;
    color: #F8FAFC;
    font-family: "Roboto";
}

/* Header */

header {
    background: #0F172A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    gap: 121px;
}

.starter {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;

}
.starter > p {
    color: #16B8F3;
}
nav {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    gap: 30px;

}



/* main */

main {
    background: #0F172A;
    display: flex;
    justify-content: center;
}
.main-centering {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 95px;
}


/* Main --> Recent Posts Section */

.recent-project-heading {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 83px;
}
h2 {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
}
h2 + .blue {
    color: #16B8F3;
}
.recent-projects {
    display: flex;
    flex-direction: column;
    gap: 41px;

}
.project-card {
    display: flex;
    flex-direction: row;
    background: #1E293B66;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    gap: 60px;
}
.project-image {
    width: 12%;
}
.project-text > h3 {
    font-size: 30px
}
.project-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

/* Main ----> Latest Posts */
.latest-posts-heading {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 83px;
    margin-top: 94px;
}
.latest-posts {
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
}
.posts-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.posts-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 22px;
    background: #1E293B;
    border-radius: 20px;
}
.card-image {
    width: 100%;
    height: auto;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    padding: 20px;
    padding-top: 0;
}

.card-text > h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

}
.card-text > .date-text {
    color: #9CA3AF;
}

/* footer */

footer {
    display: flex;
    background: #0F172A;
    border-top: #CBD5E1 solid 1px;
    padding: 35px 100px;
    justify-content: space-between;
    align-items: center;
}
.icon-links {
    align-self: center;
    display: flex;
    gap: 15px;
}
